section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
	text-shadow: 0 0 10px #64F3D5;
}
section p {
	font: 16px 'Open Sans';
}
section p span {
	font-weight: bold;
	transition: 1s;
}
section p:hover span {
	text-shadow: 0 0 5px #ff0066;
	transition: 2s;
}
